  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <span class ="glyphicon glyphicon-question-sign"></span>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%=statistics.nQuestions%></div>
              <div>Preguntas</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-left">Número total de preguntas</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <span class ="glyphicon glyphicon-comment"></span>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%=statistics.nComments%></div>
              <div>Comentarios</div>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          <span class="pull-left">Número total de comentarios</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
